#!/bin/sh

APPSMITH_MONGODB_URI="mongodb://localhost:27017/appsmith"

APPSMITH_REDIS_URL="redis://127.0.0.1:6379"

APPSMITH_MAIL_ENABLED=false

APPSMITH_ENCRYPTION_PASSWORD=abcd
APPSMITH_ENCRYPTION_SALT=abcd

APPSMITH_CODEC_SIZE=10

CLOUDOS_API_BASE_URL="http://10.10.11.20:8035"
CLOUDOS_MOCK_BASE_URL="http://10.10.11.20:8899"
CLOUDOS_DB_BASE_URL="http://db-manager.dev.staros.local/api/db-manager"
CLOUDOS_IN_CLOUDOS=false
CLOUDOS_JWT_SECRET_KET="jKriFBzevooCpDi"

CLOUDOS_WECHAT_APPID="123"
CLOUDOS_WECHAT_SECRET="***"

APPSMITH_CLOUD_SERVICES_BASE_URL="https://release-cs.appsmith.com"
# APPSMITH_CLOUD_SERVICES_BASE_URL="http://localhost:8090"

#APPSMITH_OAUTH2_GOOGLE_CLIENT_ID=""
#APPSMITH_OAUTH2_GOOGLE_CLIENT_SECRET=""

#APPSMITH_OAUTH2_GITHUB_CLIENT_ID=""
#APPSMITH_OAUTH2_GITHUB_CLIENT_SECRET=""

#APPSMITH_FORM_LOGIN_DISABLED=
#APPSMITH_SIGNUP_DISABLED=

#APPSMITH_SENTRY_DSN=
#APPSMITH_SENTRY_ENVIRONMENT=

#APPSMITH_RECAPTCHA_SITE_KEY=""
#APPSMITH_RECAPTCHA_SECRET_KEY=""
APPSMITH_BMAP_AK="nWCpSjRnXLfGuBc3iLZ9kYv8Y6wYaxf8"