.appsmith-light-theme {
  /* Syntax of style naming */
  /* --appsmith-<entity name>-<style-name> */
  /* --------------------- */

  /* input */
  --appsmith-input-focus-border-color: var(--appsmith-color-black-900);

  --ads-v2-color-bg-brand-emphasis: var(--brand-color);
  --ads-v2-color-bg-brand-emphasis-plus: var(--brand-color);
  --ads-v2-color-border-brand-emphasis-plus: var(--brand-color);
  --ads-v2-color-border-emphasis: var(--brand-color);
  --ads-v2-color-border-emphasis-plus: var(--brand-color);
  --ads-v2-colors-control-field-hover-border: var(--brand-color);
  --ads-v2-colors-control-field-active-border: var(--brand-color);
  
  /* search input */
  --appsmith-search-input-focus-mobile-border-color: var(
    --appsmith-color-black-900
  );
  --appsmith-search-input-mobile-border-color: var(--appsmith-color-black-400);
  overflow-x: hidden;

  /* text can select */
  user-select: text;
}
