
server {
    listen 80;

    client_max_body_size 100m;
    gzip on;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;

    root /var/www/pageplug;
    index index.html index.htm;

    location / {
        try_files $uri /index.html =404;
        
        sub_filter __PAGEPLUG_APP_URL__ '${PAGEPLUG_APP_URL}';
    }

    location /favicon.ico {
        try_files $uri /favicon.ico =404;
    }
}
